 <!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>INDEX PAGE</title>
  <link rel="stylesheet"  type="text/css" th:href="@{/index.css}">
</head>
<body>

<div class="container">
   <video autoplay loop muted id="background-video">
   <source src="https://github.com/Jayasurya-rookie/Videos/raw/main/pink%20venom.mp4">
 </video>


<div class="login-container">
        <h1><a href="/login">LOGIN</a></h1>
        <br><br>
        <h1><a href="/registration">REGISTER</a></h1>
    </div>
</div>
</body>
</html>

